.Mandate-Container{
    width: 100%;
    padding: 80px 0 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../../Assets/logo2.jpeg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: contain;
    color: white;
    background-color: #171720;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.Mandate-Wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Mandate-Wrapper > p {
    width: 80%;
    font-family: sans;
    text-align: center;
    font-size: 19px;
}

.Mandate-Wrapper > button:hover{
    background: linear-gradient(rgba(7, 7, 8, 0.5), rgba(14,14,24, 0.5));
    border: 0.2px solid whitesmoke;
    color: white;
}

.Mandate-Header{
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.Difference_Typing{
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    background-color: rgba(233, 233, 233, 0.8);
    margin-top: 50px;
}

h1{
    margin: 0;
}

@media screen and (max-width: 768px){
    .Mandate-Wrapper{
        width: 95%;
    }

    .Mandate-Container{
        padding: 100px 0 60px 0;
    }

    .Mandate-Wrapper > p {
        font-size: 18px;
    }
}

@media screen and (max-width: 460px){
    .Mandate-Container{
        padding: 30px 0 15px 0;
    }
    .Mandate-Wrapper > p {
        width: 90%;
    }
}